body {
    padding-top: 50px; /* Ensure the content does not overlap the navbar */
}

.navbar {
    margin-bottom: 0;
    background-color: #878787;
    border-bottom: black solid;
}

.navbar-divider {
    border-top: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-text {
    text-align: center;
    width: 100%;
    padding-top: 10px;
}
.navbar-brand-text {
    font-weight: bold;
    color: black;
    font-size: 18px;
    padding: 15px 20px;
    display: inline-block;
}


.nav-url {
    width: 40%;
    margin: 0 15px;
    border: black solid;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f0f0f0;
}

.search {
    width: 150px;
    border: black solid;
    border-radius: 5px;
}
.menu-section {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.tall-section {
    height: 1000px;
    background-color: #e9ecef;
    margin-top: 20px;
    padding: 20px;
}